/* basick style */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --swiper-navigation-size: 25px;
    --swiper-theme-color: #14161A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Jost", sans-serif;
    background-color: #fff;
}

input, button {
    font-family: "Jost", sans-serif;
    transition: all 0.5s ease-in-out;
}

input::placeholder {
    font-family: "Jost", sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1650px;
    margin: 0 auto;
}

@media (max-width: 1650px) {
    /* body {
        margin: 30px 0;
    } */

    .container {
        margin: 0 16px;
    }
}

.title {
    color: #14161A; 
    font-size: 2.5rem; 
    font-weight: 600; 
    line-height: 48px; 
    letter-spacing: 0.48px;
}

.title__white {
    color: #fff; 
    font-size: 2.5rem; 
    font-weight: 600; 
    line-height: 48px; 
    letter-spacing: 0.48px;
}

@media (max-width: 1000px) {
    .title h2{
        font-size: 2.2rem;
    }

    .title__white h2{
        color: #fff; 
        font-size: 2.2rem; 
        font-weight: 600; 
        line-height: 48px; 
        letter-spacing: 0.48px;
    }
}

@media (max-width: 768px) {
    .title h2{
        font-size: 2rem;
    }

    .title__white h2{
        color: #fff; 
        font-size: 2rem; 
        font-weight: 600; 
        line-height: 48px; 
        letter-spacing: 0.48px;
    }
}

/* basick style */

/* header style */

header {
    background-color: #fff;

    padding: 55px 0;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
    gap: 48px;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__nav a {
    color: #14161A; 
    font-size: 1rem; 
    font-weight: 400;

    margin-right: 48px;
}

.header__nav a.active {
    border-radius: 55px; 
    border: 1px #00327C solid;
    padding: 10px 34px 10px 15px;

    position: relative;

    margin-right: 32px;
}

.header__nav a.active::after {
    content: "";
    position: absolute;

    width: 12px;
    height: 12px;

    top: 40%;
    right: 0;
    bottom: 0;
    left: 75%;
    
    background-image: url(../img/icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: 0.7rem;
}

.header__nav__el.active.rotate-arrow::after {
    transform: rotate(270deg);
}

.header__account button {
    padding: 10px 32px;
    background: linear-gradient(90deg, #00327C 0%, #8CC5F1 100%); 
    border-radius: 55px;

    outline: none;
    border: none;
    color: #fff; 
    font-size: 1rem; 
    font-weight: 400; 
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    white-space: nowrap;
}

.header__account button:hover {
    color: #000000;
}

.header__account img {
    display: none;
}

.header__language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;

    margin-left: 30px;
}

.header__language p {
    font-weight: 300;
    font-size: 1rem;
    color: #14161A;
    cursor: pointer;
}

.header__language p:nth-child(2) {
    cursor: default;
}

.header__language p.active {
    font-weight: 600;
}

.header__line {
    margin-top: 30px;
    border: 0.0625rem #00327C solid
}

.header__burger {
    display: none;
}

body.active-menu {
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.overlay.active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: (0,0,0, 0.5);
    z-index: 999;
} 

.header__menu {
    display: none;
    min-height: 100vh;

    position: fixed;
    top: 10%;
    left: 0;
    right: 0;

    z-index: 1999;
}

.header__menu.active {
    display: block;
}

.header__menu__wrapper {
    background-color: #fff;

    height: 70vh;

    margin-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__menu__row {
    margin-top: 40px;
}

.header__menu__row h2 {
    color: #14161A; 
    font-size: 1.125rem; 
    font-weight: 700;
    cursor: pointer;

    width: max-content;
}

.header__menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.header__menu__header button {
    outline: none;
    border: 1px solid transparent;
    background: #65499B; 
    border-radius: 5px;
    padding: 5px;

    color: white; 
    font-size: 1.125rem; 
    font-weight: 700;
    cursor: pointer;
}

.header__menu__header button:hover {
    border: 1px solid #65499B;
    background: transparent;
    color: #65499B;
}

.header__menu__button {
    display: flex;
    gap: 20px;
}

.header__menu__button span {
    color: #14161A; 
    font-size: 1.125rem; 
    font-weight: 400;
    cursor: pointer;
}

@media (max-width: 1650px) {
    header {
        padding: 30px 0;
    }
}

@media (max-width: 1221px) {
    .header__nav {
        display: none;
    }

    .header__burger {
        display: block;
        margin-left: 30px;
        cursor: pointer;

        width: 30px;
        height: 30px;
    }
}

@media (max-width: 740px) {
    .header__language {
        display: none;
    }
}

@media (max-width: 640px) {
    .header__account button {
        padding: 10px;
    }

    .header__account button span {
        display: none;
    }

    .header__account img {
        width: 20px;
        height: 20px;
        display: block;
    }
}

/* header style */

/* banner style */

.banner__wrapper {
    position: relative;
}

.banner-layout {
    margin-top: 131px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.swiper {
    max-width: 790px;
    height: 353px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 0 120px 0 160px;
}

.swiper-slide span {
    color: #2C508C; 
    font-size: 3rem; 
    font-weight: 500; 
    text-transform: uppercase; 
    line-height: 60px; 
    letter-spacing: 1.20px;
}

.swiper-slide p {
    color: #64686D; 
    font-size: 2rem; 
    font-weight: 300; 
    line-height: 52px; 
    letter-spacing: 1.04px;
}

.swiper-button-prev, .swiper-button-next {
    width: 60px; 
    height: 60px;
    background: white; 
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); 
    border-radius: 50px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 46%;
}

/* .banner__wrapper .banner__gradient{
    position: absolute;
    top: -40%;
    right: -10%;
    bottom: 0;
    z-index: -1;

    width: min-content;
    height: min-content;
}

@media (max-width: 1450px) {
    .banner__gradient{
        max-width: 1000px;
        max-width: 1000px;
    }
}

@media (max-width: 1200px) {
    .banner__gradient{
        max-width: 800px;
        max-width: 800px;
    }
} */



@media (max-width: 1200px) {
    .swiper {
        max-width: 630px;
        height: 353px;
    }
    
    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        padding: 0 90px;
    }
    
    .swiper-slide span {
        color: #2C508C; 
        font-size: 2.5rem; 
        font-weight: 500; 
        text-transform: uppercase; 
        line-height: 60px; 
        letter-spacing: 1.20px;
    }
    
    .swiper-slide p {
        color: #64686D; 
        font-size: 1.5rem; 
        font-weight: 300; 
        line-height: 52px; 
        letter-spacing: 1.04px;
    }
}

@media (max-width: 1000px) {
    .swiper {
        max-width: 479px;
        height: 600px;
    }
    
    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        padding: 0 90px;
    }
    
    .swiper-slide span {
        color: #2C508C; 
        font-size: 2.5rem; 
        font-weight: 500; 
        text-transform: uppercase; 
        line-height: 60px; 
        letter-spacing: 1.20px;
    }
    
    .swiper-slide p {
        color: #64686D; 
        font-size: 1.5rem; 
        font-weight: 300; 
        line-height: 32px; 
        letter-spacing: 1.04px;
    }

    .banner__wrapper__footer {
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-50%);

        z-index: 9999;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .banner-layout {
        margin-top: 0;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        width: 100%;
        z-index: -1;
    }
}

@media (max-width: 768px) {
    .banner__wrapper__column img {
        display: none;
    }

    .banner-layout {
        display: block;
    }

    /* .banner__wrapper__footer {
        position: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(0);

        z-index: 9999;

        display: block;
    } */

    .swiper-slide {
        align-items: flex-start;
        /* padding: 0 90px 0 120px; */
        padding: 0;
    }

    /* .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 60px;
    } */
}

@media (max-width: 500px) {
    .swiper-slide {
        /* padding: 0 90px; */
        padding: 0;
    }

    .swiper-slide span {
        font-size: 2rem;
        line-height: 40px; 
    }

    .swiper-slide p {
        font-size: 1.5rem;
    }
}

/* banner style */

/* products style */

/* #products {
    position: relative;
}

.element2 {
    position: absolute;
    top: -50%;
    left: -75%;
    right: 0;
    bottom: 0;
    z-index: -1;

    max-width: 730px;
    max-height: 730px;
} */

.product__layout {
    margin-top: 52px;
}

.product__wrapper {
    border: 1px #00327C solid;
    padding: 0 40px 0 40px;
}

.product__column {
    flex: 1;
}

.product__column__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 30px 30px 30px 60px;

    width: 100%;

    cursor: pointer;
}

.product__header__el {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0;

    cursor: pointer;
    padding: 20px;

    border-radius: 20px;
}

.product__row__el {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product__row img {
    width: 42px;
    height: 42px;
}

.product__column hr {
    background-color: #2C508C;
    height: 1px;
}

.product__column__header h1 {
    color: #14161A; 
    font-size: 2rem; 
    font-weight: 400; 
    text-transform: uppercase; 
    line-height: 36px; 
    letter-spacing: 0.36px;
}

.product__column__header h1:first-child {
    padding: 7px 0;
}

@media (max-width: 1140px) {
    .product__column__header h1:first-child {
        padding: 17px 0;
    }
}

@media (max-width: 730px) {
    .product__column__header h1:first-child {
        padding: 0;
    }
}

.product__header__el a {
    color: #2C508C; 
    font-size: 0.8rem;  
    font-weight: 400; 
    text-transform: uppercase;
}

.product__header__el span {
    background: #65499B; 
    border-radius: 10px;
    padding: 7px 10px;

    color: white; 
    font-size: 2rem; 
    font-weight: 400; 
    text-transform: uppercase; 
    line-height: 36px; 
    letter-spacing: 0.36px;
}

.product__row__el span {
    color: #8CC5F1; 
    font-size: 3.5rem; 
    font-weight: 200; 
}

.product__row__el h1 {
    color: #14161A; 
    font-size: 1.5rem; 
    font-weight: 400; 
}

.product__row:hover {
    border-radius: 20px;
    background: linear-gradient(90deg, #00327C 0%, #8CC5F1 100%); 
}

.product__row:hover span {
    color: #fff;
}

.product__row:hover h1 {
    color: #fff;
}

.product__row:hover img {
    content: url("../img/icons/arrowTabDark.svg");
}

.product__tab {
    display: none;
}

.product__tab.active {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
}

@media (max-width: 910px) {
    .product__tab.active {
        gap: 0;
    }
}

.product__tab.active:last-child .product__row__el span {
    color: #65499B;
}

.product__tab.active:last-child .product__row:hover {
    background: linear-gradient(90deg, #030642 0%, #141470 50%, #65499B 100%);
}

.product__tab.active:last-child .product__row:hover span {
    color: #fff;
}

.product__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 60px;
}

.product__column__header.active {
    border: 1px solid #00327C;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    position: relative;
    transition: all 0.1s ease-in-out;
}

.product__column__header.active::after {
    content: "";
    position: absolute;

    width: 85%;
    right: 0;
    left: 0;

    margin: 0 auto;

    background-color: #00327C;
    height: 1px;

    bottom: -1px;
} 

@media (max-width: 783px) {

}

@media (max-width: 644px) {
    .product__column__header {
        padding: 8px;
    }
}

@media (max-width: 497px) {
    .product__wrapper {
        padding: 0 8px;
    }

    .product__header__el {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .product__header__el a {
        display: none;
    }

    .product__header__el img {
        display: none;
    }

    .product__column hr {
        padding: 0 10px;
    }

    .product__column__header h1:first-child {
        padding: 28px 0;
    }

    .product__row__el h1 {
        font-size: 1.2rem;
    }

    .product__header__el span {
        font-size: 1.5rem;
        padding: 5px 7px;
    }

    .product__column__header h1 {
        font-size: 1.7rem;
    }
}

hr.active {
    display: none;
}

@media (max-width: 785px) {
    hr.active {
        display: block;
    }
}

/* products style */

/* decisions style */

.decisions__layout {
    margin-top: 140px;

    position: relative;
}

.decisions__wrapper {
    margin-top: 60px;
}

.decisions__wrapper__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.decisions__wrapper__content p {
    flex: 1;
}

.decisions__wrapper__content p:first-child {
    color: #14161A; 
    font-size: 2.5rem; 
    font-weight: 300; 
    line-height: 42px; 
    letter-spacing: 0.42px;
}

.decisions__wrapper__content p:last-child {
    color: #14161A; 
    font-size: 1.5rem; 
    font-weight: 400;
}

.decisions__wrapper__slider {
    margin-top: 317px;
}

.decisions__wrapper__slider .swiper {
    max-width: 100%;
    padding: 0 100px;
}

.decisions__wrapper__slider .swiper-wrapper {
    align-items: center;
}

.decisions__wrapper__slider .swiper-pagination {
    width: 100%;
}

.decisions__wrapper__slider .swiper-slide {
    background: radial-gradient(44.63% 45.59% at 40.31% 23.77%, rgba(3, 6, 66, 0) 0%, #65499B 100%); 
    box-shadow: -5px -5px 250px rgba(255, 255, 255, 0.02) inset; 
    border-radius: 20px; 
    backdrop-filter: blur(20px);
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;

    height: 250px;
}

.decisions__wrapper__slider .swiper-slide img {
    width: 40px;
    height: max-content;
}

.decisions__wrapper__slider .swiper-slide span {
    color: white; 
    font-size: 1rem; 
    font-weight: 600; 
    line-height: 24px; 
    letter-spacing: 0.20px;
}

.decisions__layout__img {
    position: absolute;
    z-index: -1;

    left: 0;
    right: 0;
    top: 0;

    height: 100%;
}

.decisions__wrapper__slider .swiper-button-prev {
    background: #14161A; 
    box-shadow: 5px 5px 14.699999809265137px rgba(101, 73, 155, 0.50); 
    color: #fff;
}

.decisions__wrapper__slider .swiper-button-next {
    background: #14161A; 
    box-shadow: 5px 5px 14.699999809265137px rgba(101, 73, 155, 0.50); 
    color: #fff;
}

.decisions__wrapper__slider .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
    width: 15px;
    height: 15px;
}

.decisions__wrapper__slider .swiper-pagination-bullet-active {
    background: #fff;
    border: 1px solid transparent;
}

@media (max-width: 1441px) {
    .decisions__wrapper__slider .swiper {
        padding: 0 80px;
    }
}

@media (max-width: 1170px) {
    .decisions__wrapper__slider .swiper-slide {
        gap: 12px;
    }

    .decisions__wrapper__slider .swiper-slide span {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .decisions__wrapper__slider {
        margin-top: 0;
    }

    .decisions__wrapper__content p:first-child {
        font-size: 2.2rem;
    }

    .decisions__wrapper__content p:last-child {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .decisions__wrapper__content p:first-child {
        font-size: 2rem;
    }

    .decisions__wrapper__content p:last-child {
        font-size: 1rem;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 15%;
    }

    .decisions__wrapper .swiper-button-next, .decisions__wrapper .swiper-button-prev {
        top: 78%;
    }

    .decisions__wrapper .swiper-button-next, .decisions__wrapper .swiper-button-prev {
        top: 78%;
    }
}

@media (max-width: 600px) {
    .decisions__wrapper {
        margin-top: 0;
    }

    .decisions__wrapper__content {
        gap: 12px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 20%;
    }

    .decisions__wrapper .swiper-button-next, .decisions__wrapper .swiper-button-prev {
        top: 75%;
    }

    .decisions__wrapper .swiper-button-next, .decisions__wrapper .swiper-button-prev {
        top: 75%;
    }
}

@media (max-width: 400px) {
    .decisions__wrapper__slider .swiper-slide {
        padding: 20px 10px;
    }
}

/* decisions style */

/* services style */

.services__layout {
    padding-top: 215px;

    background-color: #14161A;
}

.services__wrapper {
    margin-top: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.services__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 34px 30px;

    border: 1px solid #64686D;
    border-radius: 20px;


    width: 531px;
    height: 140px;

    cursor: pointer;
}

.services__item:hover {
    border: 1px #8CC5F1 solid;
}

.services__item:hover .number {
    color: #8CC5F1;
}

.services__item .number {
    color: #64686D; 
    font-size: 3.5rem; 
    font-weight: 200; 
    letter-spacing: 1.20px;
}

.services__item .txt {
    color: white; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 24px; 
    letter-spacing: 0.20px;
}

@media (max-width: 1651px) {
    .services__item {
        width: 450px;
    }
}

@media (max-width: 1423px) {
    .services__item {
        width: 420px;
    }
}

@media (max-width: 1333px) {
    .services__item {
        width: 400px;
    }
}

@media (max-width: 1272px) {
    .services__item {
        width: 370px;
    }
}

@media (max-width: 1182px) {
    .services__item {
        width: 350px;
    }
}

@media (max-width: 1122px) {
    .services__item {
        width: 320px;
    }

    .services__item .txt {
        font-size: 0.7rem;
    }
}

@media (max-width: 1033px) {
    .services__item {
        width: 300px;
    }
}

@media (max-width: 1000px) {
    .services__item {
        width: 400px;
    }
}

@media (max-width: 850px) {
    .services__item {
        width: 370px;
    }
}

@media (max-width: 788px) {
    .services__item {
        width: 340px;
    }
}

@media (max-width: 728px) {
    .services__item {
        width: 320px;
    }
}

@media (max-width: 688px) {
    .services__item {
        width: 300px;
    }
}

@media (max-width: 649px) {
    .services__item {
        width: 630px;
    }

    .services__item {
        justify-content: flex-start;
    }
}

@media (max-width: 550px) {
    .services__layout {
        padding-top: 130px;
    }
}

@media (max-width: 400px) {
    .services__item {
        padding: 20px;
    }
}

/* services style */

/* about style */

.about__layout {
    padding-top: 140px;

    background-color: #14161A;

    position: relative;

    z-index: -2;
}

.about__layout .about__element {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 0;
    bottom: 0;

    z-index: -1;
}

.about__wrapper {
    padding-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 36px;
}

.about__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__column p {
    color: white; 
    font-size: 1rem;  
    font-weight: 400;
    max-width: 374px;
}

.about__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.about__row__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about__row__item:last-child span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.about__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.about__logo img {
    width: 42px;
    height: 42px;
}

.about__logo h3 {
    color: white; 
    font-size: 2rem; 
    font-weight: 700; 
    letter-spacing: 0.40px;
}

.about__row__item hr {
    border: 1px solid #9EA1A3;
    width: 43px;
    transform: rotate(90deg);
}

.about__row__item span {
    white-space: nowrap;
    color: #fff; 
    font-size: 1rem;  
    font-weight: 400; 
    letter-spacing: 0.40px;
}

.about__column.left{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about__column__number {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about__number__item {
    display: flex;
    flex-direction: column;
}

.about__column__number span:first-child {
    color: white; 
    font-size: 5.5rem; 
    font-weight: 200;
}

.about__column__number span:last-child {
    color: white; 
    font-size: 1rem; 
    font-weight: 500; 
    max-width: 280px;
}

.about__column .about__cross {
    width: 179px;
    height: 179px;
    margin: auto;
}

.about__number__item svg {
    max-width: 463px;
    max-height: 463px;
    cursor: pointer;
}

.about__number__item:last-child:hover svg circle {
    stroke: #8CC5F1;
}

.about__number__item:last-child:hover svg .cls-1 {
    stroke: #8CC5F1;
}

@media (max-width: 1330px) {
    .about__wrapper {
        align-items: center;
        justify-content: center;
    }

    .about__column {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .about__wrapper {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .about__column {
        align-items: flex-start;
    }

    .about__row {
        align-items: flex-start;
    }

    .about__column:last-child {
        gap: 8px;
    }

    .about__column {
        flex-direction: column;
        gap: 24px;
    }

    .about__column__number span:first-child {
        font-size: 3rem;
    }

    .about__column__number span:last-child {
        max-width: 217px;
    }
}

@media (max-width: 500px) {
    .about__wrapper {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .about__column {
        align-items: flex-start;
    }

    .about__row {
        align-items: flex-start;
    }

    .about__row__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .about__row__item hr {
        transform: rotate(0);
        width: 100%;
    }

    .about__column:last-child {
        gap: 1px;
    }

    .about__row__item:last-child {
        flex-direction: row;
    }

    .about__column .about__cross {
        width: 100px;
        height: 100px;
    }

    .about__column__number span:last-child {
        font-size: 0.8rem;
    }

    .about__number__item svg {
        width: 100px;
        height: 100px;
    }
}

/* about style */

/* clients style */

.clients__layout {
    padding-top: 140px;

    background-color: #14161A;
}

.clients__wrapper {
    margin-top: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clients__wrapper img{
    width: 150px;
}

/* @media (max-width: 1650px) {
    .clients__wrapper {
        gap: 64px;
    }
}

@media (max-width: 1350px) {
    .clients__wrapper img:last-child {
        display: none;
    }
} */

@media (max-width: 1000px) {
    .clients__wrapper img:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    .clients__wrapper img:nth-last-child(2) {
        display: none;
    }

    .clients__wrapper img{
        width: 120px;
    }
}

@media (max-width: 500px) {
    .clients__wrapper img:nth-last-child(3) {
        display: none;
    }

    .clients__wrapper img{
        width: 100px;
    }
}

/* clients style */

/* news style */

.news__layout {
    padding-top: 140px;

    background-color: #14161A;
}

.news__wrapper {
    padding-top: 60px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.news__column.left .news .news__header span{
    color: #fff; 
    font-size: 1rem; 
    font-weight: 300; 
    letter-spacing: 0.40px;
}

.news__column.left .news .news__header span:first-child {
    margin-right: 15px;
}

.news__column.left .news .news__title h2 {
    color: #fff; 
    font-size: 1.2rem; 
    font-weight: 700; 
    letter-spacing: 0.40px;

    width: 390px;

    margin: 20px 0;

    cursor: pointer;
}

.news__column.left .news .news__title h2:hover {
    text-decoration: underline;
}

.news__column.left hr{
    margin-bottom: 20px;
}

.news__column.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.news__photo {
    flex: 1;
    cursor: pointer;
}

.news__photo img {
    margin-bottom: 25px;
}

.news__photo h2 {
    color: #fff; 
    font-size: 1.2rem; 
    font-weight: 700; 
    letter-spacing: 0.40px;
}

.news__photo:hover h2 {
    text-decoration: underline;
}

.news__photo p {
    color: #fff; 
    font-size: 0.9rem; 
    font-weight: 400; 
    letter-spacing: 0.28px;
}

.news__column.left hr {
    border: 1px solid #64686D;
    width: 100%;
}

@media (max-width: 1400px) {
    .news__column.left .news .news__title h2 {
        width: 250px;
    }
}

@media (max-width: 1000px) {
    .news__photo:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    .news__photo:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 500px) {
    .news__photo:nth-last-child(3) {
        display: none;
    }

    .news__column.left .news .news__title h2 {
        width: 100%;
    }
}

/* news style */

/* form style */

.form__layout {
    padding-top: 140px;

    background-color: #14161A;

    position: relative;
}

.form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 335px;
}


.form__column.left span{
    color: white; 
    font-size: 2.5rem; 
    font-weight: 400; 
    line-height: 48px; 
    letter-spacing: 0.48px;
}

.form__conection {
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__conection a {
    color: white; 
    font-size: 1.25rem; 
    font-weight: 400;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    width: 232px;
}

.form__conection a img {
    width: 18px;
    height: 18px;
}

.form__column.right {
    width: 100%;
}

.form__column.right form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;

    width: 810px;
}

.form__column.right form input {
    width: 390px;
    height: 66px;

    border: none;
    outline: none;
    background-color: transparent;

    border-bottom: 1px solid #fff;
    color: white; 
    font-size: 1.1rem; 
    font-weight: 400; 
    line-height: 26px;

    border-top: 20px;
}

.form__column.right form input::placeholder {
    color: white; 
    font-size: 1.1rem; 
    font-weight: 400; 
    line-height: 26px;
}

.form__column.right form input:nth-child(5) {
    width: 806px;
}

.file-input {
    display: none; 
}

.custom-file-label {
    display: inline-block;
    background-color: transparent;
    width: 250px; 
    height: 50px; 
    border-radius: 44px; 
    border: 1px white solid;
    color: white;
    padding: 12px 65px;
    cursor: pointer;
}

.file-name {
    margin-left: 10px;
}

.form__btn {
    margin-left: 170px;
}

.form__btn .btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;

    width: 250px;
    height: 62px;

    background: linear-gradient(90deg, #00327C 0%, #8CC5F1 100%); 
    border-radius: 55px;
    padding: 0 23px;
    cursor: pointer;
}

.form__btn .btn button {
    border: none;
    outline: none;
    background-color: transparent;

    color: white; 
    font-size: 1.2rem; 
    font-weight: 300; 
    line-height: 26px;
    cursor: pointer;
}

.form__btn .btn img {
    width: 20px;
    height: 20px;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-top: 20px;
}

.checkbox__input {
    width: 24px !important;
    height: 30px !important;
}

.checkbox span {
    color: white; 
    font-size: 0.8rem; 
    font-weight: 400; 
    line-height: 18.20px;
}

.form__layout .form__el {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;

    /* max-width: 100vw; */
}

@media (max-width: 1400px) {
    .form__wrapper {
        gap: 235px;
    }
}

@media (max-width: 1300px) {
    .form__wrapper {
        gap: 135px;
    }
}

@media (max-width: 1200px) {
    .form__wrapper {
        gap: 35px;
    }
}

@media (max-width: 1200px) {
    .form__wrapper {
        gap: 0;
    }
}

@media (max-width: 1065px) {
    .form__column.right form {
        width: 667px;
    }

    .form__column.right form input {
        width: 300px;
    }

    .form__column.right form input:nth-child(5) {
        width: 630px;
    }

    .form__btn {
        margin-left: 60px;
    }
}

@media (max-width: 930px) {

    .form__btn {
        margin-left: 8px;
    }
}

@media (max-width: 920px) {

    .form__column.right form {
        width: 500px;
    }

    .form__column.right form input {
        width: 231px;
    }

    .form__column.right form input:nth-child(5) {
        width: 480px;
    }

    .form__btn {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .form__wrapper {
        flex-direction: column;
    }

    .form__column.right form {
        flex-direction: column;
    }

    .form__conection {
        flex-direction: row;
    }

    .form__column.right form {
        width: 100%;
    }

    .form__column.right form input {
        width: 100%;
    }

    .form__column.right form input:nth-child(5) {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .form__conection {
        flex-direction: column;
    }
}

/* form style */

/* footer style */

.footer__layout {
    padding-top: 140px;

    background-color: #14161A;
}

.footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__column:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__column h3 {
    color: #fff; 
    font-size: 1.2rem; 
    font-weight: 700;
}

.footer__column .form__conection.footer a {
    color: rgba(255, 255, 255, 0.60); 
    font-size: 1rem; 
    font-weight: 400;
} 

.footer__column .form__conection.footer a:hover {
    color: rgb(255, 255, 255); 
}

.form__conection.footer {
    margin-top: 0;
}

.footer__column span {
    color: #fff; 
    font-size: 1rem; 
    font-weight: 400;
}

.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer__social img {
    cursor: pointer;
}

.footer__column:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__column:nth-child(2) h3 {
    margin-bottom: 10px;
}

.footer__column:nth-child(2) li {
    cursor: pointer;

    color: #fff; 
    font-size: 1rem; 
    font-weight: 400;
}

.footer__column:nth-child(2) li:hover {
    opacity: 0.7;
}

.footer__column:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__column:nth-child(3) h3 {
    cursor: pointer;
}

.footer__column:nth-child(3) h3:hover {
    opacity: 0.7;
}

.footer__column:nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: right;
}

.footer__column:nth-child(4) img {
    cursor: pointer;
}

.footer__layout hr {
    border: 2px solid rgba(255, 255, 255, 0.60);

    margin: 60px 0 20px 0;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    padding-bottom: 100px;
}

.footer__bottom span {
    color: rgba(255, 255, 255, 0.60); 
    font-size: 0.8rem;  
    font-weight: 300;

    cursor: pointer;
}

.footer__bottom span:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .footer__wrapper {
        margin-top: 80px;
        justify-content: flex-start;
        gap: 20px;
    }
}

/* footer style */